In [2]:
# use bs4 to get all symbol
from urllib.request import urlopen, Request
from bs4 import BeautifulSoup as bf
import time
import re
import json
from tqdm import tqdm
import time
import random
import requests
import sys

In [3]:
url = "https://companiesmarketcap.com/usa/largest-companies-in-the-usa-by-market-cap/"
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.99 Safari/537.36'}

response = Request(url, headers=headers)
html = urlopen(response)
obj = bf(html.read(), 'html.parser')
company_code = obj.find_all(attrs={'class':'company-code'})
code_list = []
for code in company_code:
    code_list.append(code.text)

In [4]:
company_name = obj.find_all(attrs={'class':'company-name'})
name_list = []
for name in company_name:
    name_list.append(name.text)

In [5]:
name_list
us_top100_dict = {name_list[i]: code_list[i] for i in range(len(name_list))}

In [6]:
us_top100_dict
# update in 4/22 2023
with open('data/us_top100.json', 'w') as fp:
    json.dump(us_top100_dict, fp)

In [48]:
import yfinance as yf
# for symbol in tqdm(us_top100_dict.values()):
#     df = yf.download(tickers='msft aapl goog', start="2007-01-01", end_date='2022-12-31', interval = "1d")
#     # df = df.rename(columns={'日期':'date','开盘':'open','收盘':'close','最高':'high','最低':'low','成交量':'volume','成交额':'amount'})
#     print(df)
#     break
#     # df.to_csv('../csv_data/'+symbol+'.csv', index=False)
#     # time.sleep(3)

ticker_str = ' '.join(map(str,us_top100_dict.values()))
df = yf.download(tickers=ticker_str, start="2006-10-01", end_date='2022-12-31', interval = "1d")
df

[*********************100%***********************]  100 of 100 completed

             Adj Close                                                  \
                  AAPL        ABBV         ABT        ADBE         ADI
Date
2006-10-02    2.275525         NaN   15.670554   37.000000   19.411448
2006-10-03    2.251816         NaN   15.465892   36.750000   19.292276
2006-10-04    2.291333         NaN   15.313218   37.759998   19.616684
2006-10-05    2.274614         NaN   15.056593   38.180000   19.543854
2006-10-06    2.256071         NaN   15.004618   38.150002   19.907997
...                ...         ...         ...         ...         ...
2023-04-17  165.229996  161.179993  104.519997  377.920013  189.570007
2023-04-18  166.470001  159.589996  104.150002  377.549988  189.580002
2023-04-19  167.630005  161.210007  112.290001  380.109985  188.550003
2023-04-20  166.649994  161.740005  110.349998  380.260010  186.979996
2023-04-21  165.020004  162.410004  111.660004  377.670013  186.339996

                                                                       ...  \
                   ADP        AMAT        AMD        AMGN         AMT  ...
Date                                                                   ...
2006-10-02   24.796162   13.243449  24.809999   52.236557   28.761406  ...
2006-10-03   25.133522   13.296098  24.129999   53.001900   28.817633  ...
2006-10-04   25.144066   13.604431  25.030001   54.220497   29.122828  ...
2006-10-05   25.144066   13.596911  25.110001   55.528275   29.476229  ...
2006-10-06   25.022821   13.762359  24.010000   54.993271   29.524414  ...
...                ...         ...        ...         ...         ...  ...
2023-04-17  218.160004  111.790001  89.870003  248.070007  208.830002  ...
2023-04-18  217.320007  111.269997  89.779999  246.089996  208.179993  ...
2023-04-19  217.039993  110.339996  89.940002  246.210007  208.119995  ...
2023-04-20  215.619995  114.389999  90.110001  243.460007  205.589996  ...
2023-04-21  215.210007  113.459999  88.430000  243.860001  204.139999  ...

             Volume                                                            \
                UNH      UNP      UPS          V     VRTX        VZ       WFC
Date
2006-10-02  4923600  4876400  2554400        NaN  2078500  14794911   4577500
2006-10-03  4814500  8876400  3340600        NaN  1375900  13075617   6904600
2006-10-04  5259800  7574400  3515000        NaN  1049300  15362894   7836700
2006-10-05  5942600  6184400  4414600        NaN  2198000  18975946   4114600
2006-10-06  9803400  5022800  2669500        NaN  1583000  13964397   4834400
...             ...      ...      ...        ...      ...       ...       ...
2023-04-17  3660900  2740800  1920500  4865000.0  1044700  11572900  31445100
2023-04-18  3232000  2388100  2461400  4796200.0   957500  16588500  27892300
2023-04-19  5809100  2619800  2652200  3833900.0   796400  17701200  23310500
2023-04-20  3283000  2989200  3336300  4925700.0   812200  31521300  19265500
2023-04-21  3164400  6010400  3371700  6771500.0   925000  23819400  23974300


                 WMT       XOM        ZTS
Date
2006-10-02  18006000  19082600        NaN
2006-10-03  14986500  22989700        NaN
2006-10-04  24777600  25624300        NaN
2006-10-05  25071000  22066100        NaN
2006-10-06  15445600  19439400        NaN
...              ...       ...        ...
2023-04-17   5388900  13260400  1285100.0
2023-04-18   4494100  17436100  1396100.0
2023-04-19   4144500  10682600  1241800.0
2023-04-20   4547200  17038700  1297800.0
2023-04-21   8445000  14313800  1177400.0

[4167 rows x 600 columns]

In [81]:
import pandas as pd
temp=pd.read_pickle("data/alpha360.pkl")
temp

                        feature                                          \
                        CLOSE59   CLOSE58   CLOSE57   CLOSE56   CLOSE55
datetime   instrument
2007-01-04 SH600000    0.000000  0.000000  0.000000  0.000000  0.000000
           SH600004    0.000000  0.000000  0.000000  0.000000  0.000000
           SH600005    0.000000  0.000000  0.000000  0.000000  0.000000
           SH600006    0.000000  0.000000  0.000000  0.000000  0.000000
           SH600007    0.000000  0.000000  0.000000  0.000000  0.000000
...                         ...       ...       ...       ...       ...
2022-12-29 SZ300347   -0.827060 -1.520579 -1.574956 -1.575032 -1.500479
           SZ300408   -0.953695 -1.070495 -1.084951 -0.745910 -0.766190
           SZ300413   -1.034951 -1.302576 -1.302829 -1.227714 -1.163122
           SZ300433   -0.761259 -0.824084 -0.809330 -0.646062 -0.592060
           SZ300498    0.334997  0.695380  0.719973  0.877231  0.887761

                                                                         ...  \
                        CLOSE54   CLOSE53   CLOSE52   CLOSE51   CLOSE50  ...
datetime   instrument                                                    ...
2007-01-04 SH600000    0.000000  0.000000  0.000000  0.000000  0.000000  ...
           SH600004    0.000000  0.000000  0.000000  0.000000  0.000000  ...
           SH600005    0.000000  0.000000  0.000000  0.000000  0.000000  ...
           SH600006    0.000000  0.000000  0.000000  0.000000  0.000000  ...
           SH600007    0.000000  0.000000  0.000000  0.000000  0.000000  ...
...                         ...       ...       ...       ...       ...  ...
2022-12-29 SZ300347   -0.889482 -0.944090 -0.881212 -1.010282 -1.164570  ...
           SZ300408   -0.761604 -0.694921 -0.520037 -0.546045 -0.624721  ...
           SZ300413   -0.997220 -0.989807 -1.031702 -1.092261 -1.113564  ...
           SZ300433   -0.520242 -0.486376 -0.527576 -0.614538 -0.547671  ...
           SZ300498    0.751673  0.762737  0.778573  0.480466  0.447537  ...

                                                                         \
                        VOLUME8   VOLUME7   VOLUME6   VOLUME5   VOLUME4
datetime   instrument
2007-01-04 SH600000    0.000000  0.000000  0.000000  0.000000  0.000000
           SH600004    0.000000  0.000000  0.000000  0.000000  0.000000
           SH600005    0.000000  0.000000  0.000000  0.000000  0.000000
           SH600006    0.000000  0.000000  0.000000  0.000000  0.000000
           SH600007    0.000000  0.000000  0.000000  0.000000  0.000000
...                         ...       ...       ...       ...       ...
2022-12-29 SZ300347   -0.537875 -0.782741 -1.245912 -0.403706 -0.611200
           SZ300408   -0.401850 -0.513656  0.084715  0.339150 -0.485222
           SZ300413    0.369567 -0.535076 -0.323525  2.818001  1.960661
           SZ300433    0.882877  0.281769 -0.311050  0.886050 -0.216530
           SZ300498    1.326690  0.427041  1.857458  1.915799  0.211523

                                                             \
                        VOLUME3   VOLUME2   VOLUME1 VOLUME0
datetime   instrument
2007-01-04 SH600000    0.000000  0.000000  0.000000     0.0
           SH600004    0.000000  0.000000  0.000000     0.0
           SH600005    0.000000  0.000000  0.000000     0.0
           SH600006    0.000000  0.000000  0.000000     0.0
           SH600007    0.000000  0.000000  0.000000     0.0
...                         ...       ...       ...     ...
2022-12-29 SZ300347   -1.273359 -0.199892 -0.894195     0.0
           SZ300408   -0.376270 -0.217868  0.238069     0.0
           SZ300413    0.302691  0.379203 -0.263486     0.0
           SZ300433   -0.010627 -0.155551  0.633645     0.0
           SZ300498    0.467626  0.494045  0.222413     0.0

                                             label
                      Ref($close, -1) / $close - 1
datetime   instrument
2007-01-04 SH600000                      -1.369305
           SH600004                       0.888378
           SH600005                      -1.035328
           SH600006                      -0.113552
           SH600007                      -1.075405
...                                            ...
2022-12-29 SZ300347                      -1.177872
           SZ300408                      -1.509149
           SZ300413                      -0.404894
           SZ300433                      -1.521418
           SZ300498                       1.668652

[1110124 rows x 361 columns]

In [69]:
# VWAP is not existed
first_index = df.index.tolist()
index_list = []
for i in first_index[60:]:
    for j in us_top100_dict.values():
        index_list.append([i,j])
index_df = pd.DataFrame(index_list, columns=["datetime", "instrument"])
index = pd.MultiIndex.from_frame(index_df)

all_col=[]
for i in ['VOLUME','CLOSE','HIGH','OPEN','VWAP']:
    all_col.extend([i+'_'+str(x) for x in range(60)])
multi_col = [['feature',x] for x in all_col]
multi_col.append(['label', 'score'])
col_df = pd.DataFrame(multi_col)
col = pd.MultiIndex.from_frame(col_df)

alpha360_us = pd.DataFrame(index=index, columns=col)
alpha360_us

0                      feature                                               \
1                     VOLUME_0 VOLUME_1 VOLUME_2 VOLUME_3 VOLUME_4 VOLUME_5
datetime   instrument
2006-12-27 AAPL            NaN      NaN      NaN      NaN      NaN      NaN
           MSFT            NaN      NaN      NaN      NaN      NaN      NaN
           GOOG            NaN      NaN      NaN      NaN      NaN      NaN
           AMZN            NaN      NaN      NaN      NaN      NaN      NaN
           BRK-B           NaN      NaN      NaN      NaN      NaN      NaN
...                        ...      ...      ...      ...      ...      ...
2023-04-21 HCA             NaN      NaN      NaN      NaN      NaN      NaN
           DUK             NaN      NaN      NaN      NaN      NaN      NaN
           BDX             NaN      NaN      NaN      NaN      NaN      NaN
           CI              NaN      NaN      NaN      NaN      NaN      NaN
           TGT             NaN      NaN      NaN      NaN      NaN      NaN

0                                                          ...          \
1                     VOLUME_6 VOLUME_7 VOLUME_8 VOLUME_9  ... VWAP_51
datetime   instrument                                      ...
2006-12-27 AAPL            NaN      NaN      NaN      NaN  ...     NaN
           MSFT            NaN      NaN      NaN      NaN  ...     NaN
           GOOG            NaN      NaN      NaN      NaN  ...     NaN
           AMZN            NaN      NaN      NaN      NaN  ...     NaN
           BRK-B           NaN      NaN      NaN      NaN  ...     NaN
...                        ...      ...      ...      ...  ...     ...
2023-04-21 HCA             NaN      NaN      NaN      NaN  ...     NaN
           DUK             NaN      NaN      NaN      NaN  ...     NaN
           BDX             NaN      NaN      NaN      NaN  ...     NaN
           CI              NaN      NaN      NaN      NaN  ...     NaN
           TGT             NaN      NaN      NaN      NaN  ...     NaN

0                                                                              \
1                     VWAP_52 VWAP_53 VWAP_54 VWAP_55 VWAP_56 VWAP_57 VWAP_58
datetime   instrument
2006-12-27 AAPL           NaN     NaN     NaN     NaN     NaN     NaN     NaN
           MSFT           NaN     NaN     NaN     NaN     NaN     NaN     NaN
           GOOG           NaN     NaN     NaN     NaN     NaN     NaN     NaN
           AMZN           NaN     NaN     NaN     NaN     NaN     NaN     NaN
           BRK-B          NaN     NaN     NaN     NaN     NaN     NaN     NaN
...                       ...     ...     ...     ...     ...     ...     ...
2023-04-21 HCA            NaN     NaN     NaN     NaN     NaN     NaN     NaN
           DUK            NaN     NaN     NaN     NaN     NaN     NaN     NaN
           BDX            NaN     NaN     NaN     NaN     NaN     NaN     NaN
           CI             NaN     NaN     NaN     NaN     NaN     NaN     NaN
           TGT            NaN     NaN     NaN     NaN     NaN     NaN     NaN

0                             label
1                     VWAP_59 score
datetime   instrument
2006-12-27 AAPL           NaN   NaN
           MSFT           NaN   NaN
           GOOG           NaN   NaN
           AMZN           NaN   NaN
           BRK-B          NaN   NaN
...                       ...   ...
2023-04-21 HCA            NaN   NaN
           DUK            NaN   NaN
           BDX            NaN   NaN
           CI             NaN   NaN
           TGT            NaN   NaN

[410700 rows x 301 columns]

In [75]:
for i in tqdm(first_index[60:]):
    cur_num = first_index.index(i)
    for sym in us_top100_dict.values():
        for offset in range(60):
            alpha360_us["feature", "VOLUME_"+str(offset)].loc[i,sym]=df.loc[first_index[cur_num-offset]]["Volume",sym]

  0%|                                   | 3/4107 [00:44<17:01:58, 14.94s/it]

KeyboardInterrupt:

In [76]:
alpha360_us

0                           feature                                         \
1                          VOLUME_0     VOLUME_1     VOLUME_2     VOLUME_3
datetime   instrument
2006-12-27 AAPL        1935754800.0  490688800.0  613303600.0  903599200.0
           MSFT          31248400.0   37098300.0   37971700.0   32270500.0
           GOOG         169894428.0   83282999.0  160129965.0  279174507.0
           AMZN          70730000.0   89472000.0  111702000.0  131004000.0
           BRK-B           450000.0     565000.0     630000.0     980000.0
...                             ...          ...          ...          ...
2023-04-21 HCA                  NaN          NaN          NaN          NaN
           DUK                  NaN          NaN          NaN          NaN
           BDX                  NaN          NaN          NaN          NaN
           CI                   NaN          NaN          NaN          NaN
           TGT                  NaN          NaN          NaN          NaN

0                                                                          \
1                         VOLUME_4     VOLUME_5     VOLUME_6     VOLUME_7
datetime   instrument
2006-12-27 AAPL        567691600.0  911405600.0  721576800.0  739939200.0
           MSFT         31202100.0   53822100.0   56986800.0  102783700.0
           GOOG        175366863.0  264467588.0  321865927.0  208410256.0
           AMZN        155686000.0  150400000.0  129734000.0  163070000.0
           BRK-B         1295000.0     930000.0    1100000.0    2365000.0
...                            ...          ...          ...          ...
2023-04-21 HCA                 NaN          NaN          NaN          NaN
           DUK                 NaN          NaN          NaN          NaN
           BDX                 NaN          NaN          NaN          NaN
           CI                  NaN          NaN          NaN          NaN
           TGT                 NaN          NaN          NaN          NaN

0                                                ...                          \
1                         VOLUME_8     VOLUME_9  ... VWAP_51 VWAP_52 VWAP_53
datetime   instrument                            ...
2006-12-27 AAPL        832330800.0  857052000.0  ...     NaN     NaN     NaN
           MSFT         85866500.0   46002500.0  ...     NaN     NaN     NaN
           GOOG        190668002.0  187182988.0  ...     NaN     NaN     NaN
           AMZN        125922000.0   93556000.0  ...     NaN     NaN     NaN
           BRK-B         1300000.0     925000.0  ...     NaN     NaN     NaN
...                            ...          ...  ...     ...     ...     ...
2023-04-21 HCA                 NaN          NaN  ...     NaN     NaN     NaN
           DUK                 NaN          NaN  ...     NaN     NaN     NaN
           BDX                 NaN          NaN  ...     NaN     NaN     NaN
           CI                  NaN          NaN  ...     NaN     NaN     NaN
           TGT                 NaN          NaN  ...     NaN     NaN     NaN

0                                                                     label
1                     VWAP_54 VWAP_55 VWAP_56 VWAP_57 VWAP_58 VWAP_59 score
datetime   instrument
2006-12-27 AAPL           NaN     NaN     NaN     NaN     NaN     NaN   NaN
           MSFT           NaN     NaN     NaN     NaN     NaN     NaN   NaN
           GOOG           NaN     NaN     NaN     NaN     NaN     NaN   NaN
           AMZN           NaN     NaN     NaN     NaN     NaN     NaN   NaN
           BRK-B          NaN     NaN     NaN     NaN     NaN     NaN   NaN
...                       ...     ...     ...     ...     ...     ...   ...
2023-04-21 HCA            NaN     NaN     NaN     NaN     NaN     NaN   NaN
           DUK            NaN     NaN     NaN     NaN     NaN     NaN   NaN
           BDX            NaN     NaN     NaN     NaN     NaN     NaN   NaN
           CI             NaN     NaN     NaN     NaN     NaN     NaN   NaN
           TGT            NaN     NaN     NaN     NaN     NaN     NaN   NaN

[410700 rows x 301 columns]

In [80]:
df.loc['2006-12-26']['Volume']

AAPL    490688800.0
ABBV            NaN
ABT       5300750.0
ADBE      2332300.0
ADI       1480700.0
           ...
VZ        5262083.0
WFC       5115000.0
WMT      10493300.0
XOM      11285700.0
ZTS             NaN
Name: 2006-12-26 00:00:00, Length: 100, dtype: float64